<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smart.mall.dao.SysFeedbackDao">

    <resultMap id="sysFeedbackMap" type="smart.mall.domain.SysFeedbackDO">
        <id column="id" property="id"/>
        <result column="feedback_type" property="feedbackType"/>
        <result column="feedback_type_name" property="feedbackTypeName"/>
        <result column="content" property="content"/>
        <result column="created_on" property="createdOn"/>
        <result column="created_by" property="createdBy"/>
        <result column="modified_on" property="modifiedOn"/>
        <result column="modified_by" property="modifiedBy"/>
    </resultMap>

    <sql id="allField">
        id,feedback_type,feedback_type_name,content,created_on,created_by,modified_on,modified_by
    </sql>

    <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="smart.mall.domain.SysFeedbackDO">
        insert into sys_feedback
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="feedbackType != null and feedbackType != ''" >
                feedback_type, 
            </if>
            <if test="feedbackTypeName != null and feedbackTypeName != ''" >
                feedback_type_name, 
            </if>
            <if test="content != null and content != ''" >
                content, 
            </if>
            <if test="createdOn != null" >
                created_on, 
            </if>
            <if test="createdBy != null and createdBy != ''" >
                created_by, 
            </if>
            <if test="modifiedOn != null" >
                modified_on, 
            </if>
            <if test="modifiedBy != null and modifiedBy != ''" >
                modified_by, 
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="feedbackType != null and feedbackType != ''" >
                #{feedbackType}, 
            </if>
            <if test="feedbackTypeName != null and feedbackTypeName != ''" >
                #{feedbackTypeName}, 
            </if>
            <if test="content != null and content != ''" >
                #{content}, 
            </if>
            <if test="createdOn != null" >
                #{createdOn}, 
            </if>
            <if test="createdBy != null and createdBy != ''" >
                #{createdBy}, 
            </if>
            <if test="modifiedOn != null" >
                #{modifiedOn}, 
            </if>
            <if test="modifiedBy != null and modifiedBy != ''" >
                #{modifiedBy}, 
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="smart.mall.domain.SysFeedbackDO">
        update sys_feedback
        <set>
            <if test="feedbackType != null" >
                feedback_type = #{feedbackType}, 
            </if>
            <if test="feedbackTypeName != null" >
                feedback_type_name = #{feedbackTypeName}, 
            </if>
            <if test="content != null" >
                content = #{content}, 
            </if>
            <if test="createdOn != null" >
                created_on = #{createdOn}, 
            </if>
            <if test="createdBy != null" >
                created_by = #{createdBy}, 
            </if>
            <if test="modifiedOn != null" >
                modified_on = #{modifiedOn}, 
            </if>
            <if test="modifiedBy != null" >
                modified_by = #{modifiedBy}, 
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateByExample">
        update sys_feedback
        <set>
            <if test="update.feedbackType != null" >
                feedback_type = #{update.feedbackType}, 
            </if>
            <if test="update.feedbackTypeName != null" >
                feedback_type_name = #{update.feedbackTypeName}, 
            </if>
            <if test="update.content != null" >
                content = #{update.content}, 
            </if>
            <if test="update.createdOn != null" >
                created_on = #{update.createdOn}, 
            </if>
            <if test="update.createdBy != null" >
                created_by = #{update.createdBy}, 
            </if>
            <if test="update.modifiedOn != null" >
                modified_on = #{update.modifiedOn}, 
            </if>
            <if test="update.modifiedBy != null" >
                modified_by = #{update.modifiedBy}, 
            </if>
        </set>
        where 1 = 1 
        <if test="example.id != null" >
            and id = #{example.id} 
        </if>
        <if test="example.feedbackType != null" >
            and feedback_type = #{example.feedbackType} 
        </if>
        <if test="example.feedbackTypeName != null" >
            and feedback_type_name = #{example.feedbackTypeName} 
        </if>
        <if test="example.content != null" >
            and content = #{example.content} 
        </if>
        <if test="example.createdOn != null" >
            and created_on = #{example.createdOn} 
        </if>
        <if test="example.createdBy != null" >
            and created_by = #{example.createdBy} 
        </if>
        <if test="example.modifiedOn != null" >
            and modified_on = #{example.modifiedOn} 
        </if>
        <if test="example.modifiedBy != null" >
            and modified_by = #{example.modifiedBy} 
        </if>
    </update>

    <delete id="delete">
        delete from sys_feedback
        where id = #{key}
    </delete>

    <delete id="deleteByKey">
        delete from sys_feedback
        where id = #{delete.id}
    </delete>

    <delete id="deleteByExample"> 
        delete from sys_feedback
        where 1 = 1 
        <if test="example.id != null" >
            and id = #{example.id} 
        </if>
        <if test="example.feedbackType != null" >
            and feedback_type = #{example.feedbackType} 
        </if>
        <if test="example.feedbackTypeName != null" >
            and feedback_type_name = #{example.feedbackTypeName} 
        </if>
        <if test="example.content != null" >
            and content = #{example.content} 
        </if>
        <if test="example.createdOn != null" >
            and created_on = #{example.createdOn} 
        </if>
        <if test="example.createdBy != null" >
            and created_by = #{example.createdBy} 
        </if>
        <if test="example.modifiedOn != null" >
            and modified_on = #{example.modifiedOn} 
        </if>
        <if test="example.modifiedBy != null" >
            and modified_by = #{example.modifiedBy} 
        </if>
    </delete>

    <select id="countByExample" resultType="java.lang.Integer"> 
        select count(*) from sys_feedback where 1 = 1 
        <if test="example.id != null" >
            and id = #{example.id} 
        </if>
        <if test="example.feedbackType != null and example.feedbackType != ''" >
            and feedback_type = #{example.feedbackType} 
        </if>
        <if test="example.feedbackTypeName != null and example.feedbackTypeName != ''" >
            and feedback_type_name = #{example.feedbackTypeName} 
        </if>
        <if test="example.content != null and example.content != ''" >
            and content = #{example.content} 
        </if>
        <if test="example.createdOn != null" >
            and created_on = #{example.createdOn} 
        </if>
        <if test="example.createdBy != null and example.createdBy != ''" >
            and created_by = #{example.createdBy} 
        </if>
        <if test="example.modifiedOn != null" >
            and modified_on = #{example.modifiedOn} 
        </if>
        <if test="example.modifiedBy != null and example.modifiedBy != ''" >
            and modified_by = #{example.modifiedBy} 
        </if>
    </select>

    <select id="listByExample"  resultMap="sysFeedbackMap">
        select <include refid="allField" />
        from sys_feedback where 1 = 1 
        <if test="example.id != null" >
            and id = #{example.id} 
        </if>
        <if test="example.feedbackType != null and example.feedbackType != ''" >
            and feedback_type = #{example.feedbackType} 
        </if>
        <if test="example.feedbackTypeName != null and example.feedbackTypeName != ''" >
            and feedback_type_name = #{example.feedbackTypeName} 
        </if>
        <if test="example.content != null and example.content != ''" >
            and content = #{example.content} 
        </if>
        <if test="example.createdOn != null" >
            and created_on = #{example.createdOn} 
        </if>
        <if test="example.createdBy != null and example.createdBy != ''" >
            and created_by = #{example.createdBy} 
        </if>
        <if test="example.modifiedOn != null" >
            and modified_on = #{example.modifiedOn} 
        </if>
        <if test="example.modifiedBy != null and example.modifiedBy != ''" >
            and modified_by = #{example.modifiedBy} 
        </if>
        <if test="orderBy != null" >
            order by ${orderBy} 
        </if>
        limit ${pageSize} offset ${(page - 1) * pageSize}
    </select>

    <select id="getByKey" resultMap="sysFeedbackMap">
        select <include refid="allField"/>
        from sys_feedback where id = #{key}
    </select>


</mapper>

