<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

	<conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				[%date{HH:mm:ss.SSS}] [%-5level] - %msg [%date{yyyy-MM-dd HH:mm:ss} %logger{39} [%line] ] %n
			</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>

	<appender name="allAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>
				[ %-5level] [%date{yyyy-MM-dd HH:mm:ss}][%thread]%40.40logger{39} [%line] - %msg%n
			</pattern>
			<charset>UTF-8</charset>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/log-%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<prudent>true</prudent>
	</appender>
	
	<appender name="apilogAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>
				[%-5level] [%date{yyyy-MM-dd HH:mm:ss}] %40.40logger{39} [%line]- %msg%n
			</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<file>logs/apicall.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>logs/apicall-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
			<maxFileSize>20MB</maxFileSize>    
			<maxHistory>7</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<prudent>true</prudent>
	</appender>
	
	<appender name="scheduleAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>
				[%-5level] [%date{yyyy-MM-dd HH:mm:ss}] %40.40logger{39} [%line]- %msg%n
			</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<file>logs/schedule.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>logs/schedule-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
			<maxFileSize>20MB</maxFileSize>    
			<maxHistory>7</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<prudent>true</prudent>
	</appender>
	
	<appender name="securityAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>
				[%-5level] [%date{yyyy-MM-dd HH:mm:ss}] %40.40logger{39} [%line]- %msg%n
			</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<file>logs/security.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>logs/security-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
			<maxFileSize>20MB</maxFileSize>    
			<maxHistory>7</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<prudent>true</prudent>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="allAppender" />
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="org.springframework.boot" level="INFO" />
	
	<logger name="com.donghaiair" level="DEBUG" />
	
	<logger name="smart.mall.dao" level="DEBUG" />

	<logger name="com.donghaiair.flyprepare.log" level="DEBUG">
		<appender-ref ref="apilogAppender" />
	</logger>
	
	<logger name="com.donghaiair.flyprepare.schedule" level="DEBUG">
		<appender-ref ref="scheduleAppender" />
	</logger>

	<logger name="com.donghaiair.flyprepare.security" level="DEBUG">
		<appender-ref ref="securityAppender" />
	</logger>

</configuration>